<section id="contact" class="md:w-3/4 mx-auto flex md:flex-row flex-col flex-wrap justify-evenly my-24">
    <div class="md:w-4/12 mb-10 md:mb-0 py-10 md:py-0 flex items-center justify-start bg-blue-900">
        <h3 class="text-white text-2xl px-10">Ready to take your digital presence to the next level?</h3>
    </div>
    <form name="contact" netlify-honeypot="bot-field" action="/contact-success" method="POST" data-netlify="true"
        class="text-gray-800 md:w-8/12">
        <p class="hidden">
            <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
        </p>
        <div class="flex flex-row flex-wrap md:w-full w-screen px-10">
            <div class="flex justify-around flex-col md:flex-row md:w-full w-screen">
                <div class="w-full md:w-1/2 flex flex-col md:flex-row mb-6">
                    <input type="text" name="name"
                        class="flex-auto border-r-1 border-l-2 border-t-2 border-b-2 focus:border-blue-900 py-3 px-5 w-full"
                        placeholder="Your Name:" required />
                </div>
                <div class="w-full md:w-1/2 flex flex-col md:flex-row mb-6">
                    <input type="email" name="email"
                        class="flex-auto border-l-1 border-b-2 border-t-2 border-r-2 focus:border-blue-900 py-3 px-5 w-full"
                        placeholder="Your Email:" required />
                </div>
            </div>
            <div class="w-screen md:w-full flex flex-row mb-6">
                <textarea name="message" class="flex-auto w-3/4 border-2 focus:border-blue-900 py-3 px-5 resize-none"
                    placeholder="How can we help?" required></textarea>
            </div>
        </div>
        <div class="w-screen md:w-full flex px-10">
            <button type="submit"
                class="flex-auto border-2 border-blue-900 hover:bg-blue-900 hover:text-white py-3 transition-colors duration-75 ease-linear">Get
                in
                Touch</button>
        </div>
    </form>
</section>