<!-- Hero -->
{% if hero.hero_img == blank %}

{% elsif hero.hero_img != blank %}
<div class="h-80 bg-opacity-50 bg-black flex items-center justify-center bg-cover" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)),url('{{ hero.hero_img }}');background-position: center;">
    <div class="mx-2 text-center">
        <h1 class="text-5xl text-white">
            {{ hero.hero_text }}
        </h1>
        <h2 class="text-white">
            {{ hero.hero_sub }}
        </h2>
    </div>
</div>
{% endif %}