<section id="portfolio"
    class="grid grid-cols-1 w-3/4 mx-auto md:grid-cols-2 md:grid-flow-row-dense gap-y-5 gap-x-5 md:gap-y-10 md:gap-x-20 mt-10 mb-10">
    <div class="col-span-1 md:col-span-2 text-center">
        <h2 class="text-5xl">Portfolio</h2>
    </div>
<!--     <a class="hover:text-gray-600 transition-colors duration-200 ease-linear grid" href="/portfolio/cultmethod/">
        <div
            class="flex align-center justify-center flex-col text-center border-2 border-blue-900 p-5 transform transition-all duration-300 hover:scale-105 md:min-h-full px-16">
            <img src="/images/cultmethod.svg">
        </div>
    </a> -->
    <a class="hover:text-gray-600 transition-colors duration-200 ease-linear grid" href="/portfolio/venturecasualty/">
        <div
            class="flex align-center justify-center flex-col text-center border-2 border-blue-900 p-5 transform transition-all duration-300 hover:scale-105 min-h-full px-10">
            <img src="/images/VChorizontal.jpg" class="md:h-full w-full">
        </div>
    </a>
<!--     <a class="hover:text-gray-600 transition-colors duration-200 ease-linear grid" href="/portfolio/ivanzaragoza/">
        <div
            class="flex align-center justify-center flex-col text-center border-2 border-blue-900 p-5 transform transition-all duration-300 hover:scale-105 min-h-full px-10">
            <img src="/images/ivanzaragoza.jpg" class="md:h-full w-full">
        </div>
    </a> -->
    <a class="hover:text-gray-600 transition-colors duration-200 ease-linear grid" href="/portfolio/summerschoolfrance/">
        <div
            class="flex align-center justify-center flex-col text-center border-2 border-blue-900 p-5 transform transition-all duration-300 hover:scale-105 min-h-full px-10">
            <img src="/images/summerschoolfrance.jpg" class="md:h-full w-full">
        </div>
    </a>
</section>