<header class="w-screen bg-blue-900">
    <nav class="w-full mx-auto px-4 sm:px-6 lg:px-20">
        <div class="flex justify-between items-center h-20">
            <h1 class="text-white text-2xl tk-loos"><a href="/"><i class="fas fa-terminal"></i> San Nicolas Tech</a></h1>
            <ul class="flex space-x-8 text-white font-normal">
                {% for item in navigation.items %}
                {% if item.url == page.url %}
                {% assign highlight = 'cursor-default' %}
                {% assign current = 'aria-current="page"' %}
                {% else %}
                {% assign highlight = 'font-normal' %}
                {% assign current = '' %}
                {% endif %}
                <li>
                    <a href="{{ item.url }}" class="text-xl">
                        {{ item.text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>