<section id="testimonials"
    class="grid grid-cols-1 w-11/12 mx-auto md:grid-cols-3 gap-x-5 md:grid-flow-row-dense gap-y-5 md:gap-x-10 md:gap-y-10 mt-24 mb-10">
    <div class="text-center col-span-1 md:col-span-3">
        <h2 class="text-5xl">Testimonials</h2>
    </div>
    <div class="flex align-center justify-center flex-col">
        <h3 class="text-xl mb-4">Exceptional work!</h3>
        <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, reiciendis, aliquid
            pariatur fugiat
            laudantium cum amet inventore odit soluta, facilis sapiente earum laborum accusamus tempore neque quae
            voluptate esse tempora.</p>
        <p class="text-right">- <a href="https://ivan.sannicolastech.dev/" target="_blank">Ivan Zaragoza</a></p>
    </div>
    <div class="flex align-center justify-center flex-col">
        <h3 class="text-xl mb-4">Just what I needed!</h3>
        <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, reiciendis, aliquid
            pariatur fugiat
            laudantium cum amet inventore odit soluta, facilis sapiente earum laborum accusamus tempore neque quae
            voluptate esse tempora.</p>
        <p class="text-right">- <a href="https://cultmethod.com/" target="_blank">Jon Persson</a></p>
    </div>
    <div class="flex align-center justify-center flex-col">
        <h3 class="text-xl mb-4">Good stuff!</h3>
        <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, reiciendis, aliquid
            pariatur fugiat
            laudantium cum amet inventore odit soluta, facilis sapiente earum laborum accusamus tempore neque quae
            voluptate esse tempora.</p>
        <p class="text-right">- <a href="https://summerschoolfrance.com" target="_blank">Caroline Jones</a></p>
    </div>
</section>